* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.title-section {
    font-size: 2rem;
}

.text-heading {
    font-size: 1.5rem;
}

:target {
    transition: 5s ease-in all;
}

.fixed-top {
    transition: 1s  !important;
}
.sticky-top {
    transition: 1s !important;
}

.nav-item {
    transition: all 0.5s;
}
.nav-link {
    font-family: 'Poppins', sans-serif;
}
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}
.text-poppins {
    font-family: 'Poppins', sans-serif;
}